@media only screen and (min-device-width:320px) and (max-device-width:667px) {

    .dxrpControl_Metropolis {
        width: 275px !important;
        height: 400px !important;
    }

    .form .dxpnlControl_Metropolis {
        width: 100% !important;
    }


        /* TextBox, ComboBox and SpinEdit*/
        .form .dxpnlControl_Metropolis .dxeButtonEdit_Metropolis {
            width: 250px !important;
            height: 40px !important;
        }
        
        /*TextBox*/
        .form .dxpnlControl_Metropolis .dxeTextBox_Metropolis {
            width: 250px !important;
            height: 40px !important;
        }

        .form .dxpnlControl_Metropolis .dxbButton_Metropolis {
            width: 250px !important;
            height: 40px;
        }
        /*Memo*/
        .form .dxpnlControl_Metropolis .dxeMemo_Metropolis {
            width: 250px !important;
        }

        /*Image*/
        .form .dxpnlControl_Metropolis .dxeImage_Metropolis {
            width: 250px !important;
        }
    /*Form without Callback panel*/
    /* TextBox, ComboBox and SpinEdit*/
    .form .dxeButtonEdit_Metropolis {
        width: 250px !important;
        height: 40px !important;
    }
    /*TextBox*/
    .form .dxeTextBox_Metropolis {
        width: 250px !important;
        height: 40px !important;
    }

    .form .dxbButton_Metropolis {
        width: 250px !important;
        height: 40px;
    }
    /*Memo*/
    .form .dxeMemo_Metropolis {
        width: 250px !important;
    }

    .pop-up .dxpcLite_Metropolis {
        width: 320px !important;
        height: 400px !important;
    }
}

@media only screen and (min-device-width:360px) and (max-device-width:640px) {
    .dxrpControl_Metropolis {
        width: 375px !important;
        height: 500px !important;
    }

    .form .dxpnlControl_Metropolis {
        width: 375px !important;
    }
        /* TextBox, ComboBox and SpinEdit*/
        .form .dxpnlControl_Metropolis .dxeButtonEdit_Metropolis {
            width: 275px !important;
            height: 40px !important;
        }
        /*TextBox*/
        .form .dxpnlControl_Metropolis .dxeTextBox_Metropolis {
            width: 275px !important;
            height: 40px !important;
        }

        .form .dxpnlControl_Metropolis .dxbButton_Metropolis {
            width: 275px !important;
            height: 40px;
        }
        /*Memo*/
        .form .dxpnlControl_Metropolis .dxeMemo_Metropolis {
            width: 275px !important;
        }
         /*Image*/
        .form .dxpnlControl_Metropolis .dxeImage_Metropolis {
           width: 275px !important;
        }

    /* TextBox, ComboBox and SpinEdit*/
    .form .dxeButtonEdit_Metropolis {
        width: 275px !important;
        height: 40px !important;
    }
    /*TextBox*/
    .form .dxeTextBox_Metropolis {
        width: 275px !important;
        height: 40px !important;
    }

    .form .dxbButton_Metropolis {
        width: 275px !important;
        height: 40px;
    }
    /*Memo*/
    .form .dxeMemo_Metropolis {
        width: 275px !important;
    }

    .pop-up .dxpcLite_Metropolis {
        width: 350px !important;
        height: 400px !important;
    }
}

@media only screen and (min-device-width:411px) and (max-device-width:700px) {
    .dxrpControl_Metropolis {
        width: 400px !important;
        height: 600px !important;
    }

    .form .dxpnlControl_Metropolis {
        width: 375px !important;
    }
        /* TextBox, ComboBox and SpinEdit*/
        .form .dxpnlControl_Metropolis .dxeButtonEdit_Metropolis {
            width: 325px !important;
            height: 40px !important;
        }
        /*TextBox*/
        .form .dxpnlControl_Metropolis .dxeTextBox_Metropolis {
            width: 325px !important;
            height: 40px !important;
        }

        .form .dxpnlControl_Metropolis .dxbButton_Metropolis {
            width: 325px !important;
            height: 40px;
        }
        /*Memo*/
        .form .dxpnlControl_Metropolis .dxeMemo_Metropolis {
            width: 325px !important;
        }
         /*Image*/
        .form .dxpnlControl_Metropolis .dxeImage_Metropolis {
           width: 325px !important;
        }
    .pop-up .dxpcLite_Metropolis {
        width: 400px !important;
        height: 400px !important;
    }

    /* TextBox, ComboBox and SpinEdit*/
    .form .dxeButtonEdit_Metropolis {
        width: 325px !important;
        height: 40px !important;
    }
    /*TextBox*/
    .form .dxeTextBox_Metropolis {
        width: 325px !important;
        height: 40px !important;
    }

    .form .dxbButton_Metropolis {
        width: 325px !important;
        height: 40px;
    }
    /*Memo*/
    .form .dxeMemo_Metropolis {
        width: 325px !important;
    }
}

@media(min-width:601px) {
    .dxrpControl_Metropolis {
        width: 100% !important;
        height: 600px !important;
    }

    .form .dxpnlControl_Metropolis {
        width: 100% !important;
    }
        /* TextBox, ComboBox and SpinEdit*/
        .form .dxpnlControl_Metropolis .dxeButtonEdit_Metropolis {
            width: 100% !important;
            height: 40px !important;
        }
        /*TextBox*/
        .form .dxpnlControl_Metropolis .dxeTextBox_Metropolis {
            width: 100% !important;
            height: 40px !important;
        }

        .form .dxpnlControl_Metropolis .dxbButton_Metropolis {
            width: 100% !important;
            height: 40px;
        }
        /*Memo*/
        .form .dxpnlControl_Metropolis .dxeMemo_Metropolis {
            width: 100% !important;
        }
         /*Image*/
        .form .dxpnlControl_Metropolis .dxeImage_Metropolis {
           width: 100% !important;
        }

    /* TextBox, ComboBox and SpinEdit*/
    .form .dxeButtonEdit_Metropolis {
        width: 100% !important;
        height: 40px !important;
    }
    /*TextBox*/
    .form .dxeTextBox_Metropolis {
        width: 100% !important;
        height: 40px !important;
    }

    .form .dxbButton_Metropolis {
        width: 100% !important;
        height: 40px;
    }
    /*Memo*/
    .form .dxeMemo_Metropolis {
        width: 100% !important;
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .dxrpControl_Metropolis {
        width: 100% !important;
        height: 600px !important;
    }

    .form .dxpnlControl_Metropolis {
        width: 100% !important;
    }

        /* TextBox, ComboBox and SpinEdit*/
        .form .dxpnlControl_Metropolis .dxeButtonEdit_Metropolis {
            width: 100% !important;
            height: 40px !important;
        }
        /*TextBox*/
        .form .dxpnlControl_Metropolis .dxeTextBox_Metropolis {
            width: 100% !important;
            height: 40px !important;
        }

        .form .dxpnlControl_Metropolis .dxbButton_Metropolis {
            width: 100% !important;
            height: 40px;
        }
        /*Memo*/
        .form .dxpnlControl_Metropolis .dxeMemo_Metropolis {
            width: 100% !important;
        }/*Image*/
        .form .dxpnlControl_Metropolis .dxeImage_Metropolis {
           width: 100% !important;
        }
}  
        

.extend {
    margin-top: 16px !important;
}
